<!DOCTYPE html>
<html>
<% include ./../includes/head.ejs %>
<body>
<% include ./../includes/header.ejs %>
<h5>h5 <%= content %></h5>
<p><a href="./pages/">index</a></p>
<p><a href="./pages/list">list</a></p>
<p><a href="./pages/detail">detail</a></p>
</body>
</html>