<!DOCTYPE html>
<html>
<% include ./../includes/head.ejs %>
<body>
<% include ./../includes/header.ejs %>
<h5>h5 <%= content %></h5>
<p><a href="../">index</a></p>
<p><a href="./">list</a></p>
<p><a href="./detail">detail</a></p>
</body>
</html>