<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>
<body>
<h1>h1 <%= title %></h1>
<h5>h5 <%= content %></h5>
<p><a href="../">index</a></p>
<p><a href="./">list</a></p>
<p><a href="./detail">detail</a></p>
</body>

</html>